extends layout/main-layout.pug

block content
    main
            form.product-form(action="/user", method="POST")
                div.form-control
                    label(for="title") Pokemon
                    input(type="text", name="title", id="title")
                button.btn(type="submit") Add Pokemon